<div class="drop-feed-item">
  <div class="calendar">
    <div class="calendar__bar">
    </div>
      <h4 class="calendar__date"><%= drop.collection_date.to_s.slice(0..4)%></h4>
  </div>

  <div class="drop-feed-item__content-container">
    <div class="drop-feed-item__collection-info-container">
          <!-- <ul>
            <li> -->
              <p class="drop-feed-item__collection-info"><strong>Collection Location:</strong>
                <%= drop.collection_location %></p>
            <!-- </li>
            <li> -->
              <p class="drop-feed-item__collection-info"><strong>Colletion Date:</strong>
                <%= drop.collection_date %></p>
            <!-- </li>
            <li> -->
            <br>
              <p class="drop-feed-item__collection-info"><strong>Delivery Location:</strong>
                <%= drop.delivery_location %></p>
            <!-- </li>
            <li> -->
            <p class="drop-feed-item__collection-info"><strong>Delivery Date:</strong>
              <%= drop.delivery_date %></p>
            <!-- </li>
          </ul> -->
    </div>

  <div class="drop-feed-item__product-requests-toggle" data-drop-id="<%= drop.id %>">
        <h4>Click to View Product Requests for This Drop</h4>
    </div>
    <div class="drop-feed-item__product-requests-content<%= drop.id %>">

      <% if flash[:message].present? %>
        <p><%= flash[:message] %></p>
      <% end %>

          <ul>
            <%= render partial: 'line_items/by_request',
                collection: drop.line_items,
                as: 'item',
                locals: {drop_id: drop.id}
            %>
          </ul>
    </div>


    <div class="drop-feed-item__donate-requests-toggle" data-drop-id="<%= drop.id %>">
        <h4>Click to Donate or Request Products</h4>
    </div>
    <div class="drop-feed-item__donate-requests-content<%= drop.id %>">

          <%= render partial: 'line_items/form', locals: {drop_id: drop.id} %>

    </div>

    <%= link_to 'Click to View full details', drop_path(drop.id), class: 'drop-feed-item__link'%>

  </div> <!-- drop feed item content -->

</div> <!-- drop feed item -->
