
      <li>
        <strong>Collection Location:</strong>
        <%= drop.collection_location %>
      </li>
      <li>
        <strong>Colletion Date:</strong>
        <%= drop.collection_date %>
      </li>
      <li>
        <strong>Delivery Location:</strong>
        <%= drop.delivery_location %>
      </li>
      <li>
        <strong>Delivery Date:</strong>
        <%= drop.delivery_date %>
      </li>

    <h4>Product Requests for this drop</h4>

    <ul>
      <%= render partial: 'line_items/by_request',
          collection: drop.line_items,
          as: 'item',
          locals: {drop_id: drop.id}
      %>
    </ul>

    <h4>Donate or Request Products</h4>

    <%= render partial: 'line_items/form', locals: {drop_id: drop.id} %>

<hr>
<!-- end  -->
