<% @drops.each do | drop | %>



    <ul>
      <li>
        <strong>Collection Location:</strong>
        <%= drop.collection_location %>
      </li>
      <li>
        <strong>Colletion Date:</strong>
        <%= drop.collection_date %>
      </li>
      <li>
        <strong>Delivery Location:</strong>
        <%= drop.delivery_location %>
      </li>
      <li>
        <strong>Delivery Date:</strong>
        <%= drop.delivery_date %>
      </li>
    </ul>

    <h4>Product Requests for this drop</h4>
    <% drop.line_items.each do | product |%>

        <!-- if product.recipient.present? -->

            <ul>
              <li>
                <%= product.product.name %> x<%= product.quantity %>
              </li>
              <li>
                <strong>Donor Assigned:</strong>
                <%= product.donor.present? ? 'Yes' : 'No' %>
              </li>
            </ul>

        <!-- end -->  <!-- if -->

    <% end %>  <!-- drop loop-->

    <h4>Donate or Request Products</h4>

  <%= render partial: '/line_items/form', locals: {drop_id: drop.id} %>

<hr>
<% end %>
