<div id="drop-feed-item">
  <div id="calendar">
    <div id="calendar-bar">
    </div>
      <h4 id="collection-date-display"><%= drop.collection_date %></h4>
  </div>
<div id="drop-feed-item-content">
    <div id="collection-details-container">
          <!-- <ul>
            <li> -->
              <p class="collection-info"><strong>Collection Location:</strong>
                <%= drop.collection_location %></p>
            <!-- </li>
            <li> -->
              <p class="collection-info"><strong>Colletion Date:</strong>
                <%= drop.collection_date %></p>
            <!-- </li>
            <li> -->
            <br>
              <p class="collection-info"><strong>Delivery Location:</strong>
                <%= drop.delivery_location %></p>
            <!-- </li>
            <li> -->
            <p class="collection-info"><strong>Delivery Date:</strong>
              <%= drop.delivery_date %></p>
            <!-- </li>
          </ul> -->
    </div>

  <div id="toggle-product-requests-button" class="toggle-button" data-drop-id="<%= drop.id %>">
        <h4>Product Requests for this drop</h4>
    </div>
    <div id="toggle-product-requests-content<%= drop.id %>">
          <ul>
            <%= render partial: 'line_items/by_request',
                collection: drop.line_items,
                as: 'item',
                locals: {drop_id: drop.id}
            %>
          </ul>
    </div>


  <div id="toggle-d-p-requests-button <%= drop.id %>">
        <h4>Donate or Request Products</h4>
    <div id="toggle-d-p-requests-content<%= drop.id %>">

          <%= render partial: 'line_items/form', locals: {drop_id: drop.id} %>

    </div>

  </div><!-- donate or request -->

  </div> <!-- drop feed item content -->

</div> <!-- drop feed item -->
