<style media="screen">
  #map {
    height: 100vh
  }

  html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
  }

</style>

<div id="map"></div>



<% if controller_name == 'drops' && action_name == 'index' %>



<script>

      const user = <%= @current_user.attributes.slice('longitude', 'latitude').to_json.html_safe %>

      const localCollections = <%= @local_collections.to_json.html_safe %>


      function initMap() {

            // var myLatLng = {lat: -25.363, lng: 131.044};

          //create a bounding box object
            var bounds = new google.maps.LatLngBounds();


            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 4,
              center: {lat: user.latitude, lng: user.longitude}
            });


            for (let i = 0; i < localCollections.length; i++) {

              const localCollection = localCollections[i];

            var collectionMarker = new google.maps.Marker({
              position: {lat: localCollection.latitude, lng: localCollection.longitude},
              map: map,
              title: localCollection.name


            });//collection marker
          } //for loop

            var userString = '<h4> THIS IS YOU! <h4>'

            var userInfowindow = new google.maps.InfoWindow({
                content: userString,
                maxWidth: 400
            });

            var userMarker = new google.maps.Marker({
              position: {lat: user.latitude, lng: user.longitude},
              map: map,
              title: user.name,
              icon: {
              url: "http://maps.google.com/mapfiles/ms/icons/purple-dot.png"
                }
            });


            bounds.extend( userMarker.position );
            bounds.extend( collectionMarker.position ); //extends bounding box to include new position on every iteration

            map.fitBounds( bounds );

            userMarker.addListener('click', function() {
                userInfowindow.open(map, userMarker);
            });


      } //mapinit function end

  </script>



      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQo09N5d4Tc0E76p4FtMcHB9xFMKrah98&callback=initMap">
        </script>


<% else %>


    <script>

      const user = <%= @current_user.attributes.slice('latitude','longitude').to_json.html_safe %>

      const collection = <%= @drop.attributes.slice('latitude', 'longitude').to_json.html_safe %>


      function initMap() {

            // var myLatLng = {lat: -25.363, lng: 131.044};

          //create a bounding box object
            var bounds = new google.maps.LatLngBounds();


            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 2,
              center: {lat: collection.latitude, lng: collection.longitude}
            });




            var userString = '<h4> THIS IS YOU! <h4>'

            var userInfowindow = new google.maps.InfoWindow({
                content: userString,
                maxWidth: 400
            });

            var userMarker = new google.maps.Marker({
              position: {lat: user.latitude, lng: user.longitude},
              map: map,
              title: user.name,
              icon: {
              url: "http://maps.google.com/mapfiles/ms/icons/purple-dot.png"
                }
            });




            var locationString = '<h4> Collection: <h4>' + '<%= @drop.attributes.slice('collection_location').to_json.html_safe %>'

            var collectionInfowindow = new google.maps.InfoWindow({
                content: locationString,
                maxWidth: 400
            });

            var collectionMarker = new google.maps.Marker({
              position: {lat: collection.latitude, lng: collection.longitude},
              map: map,
              title: collection.name,
            });


            bounds.extend( userMarker.position );
            bounds.extend( collectionMarker.position ); //extends bounding box to include new position on every iteration

            map.fitBounds( bounds );

            userMarker.addListener('click', function() {
                userInfowindow.open(map, userMarker);
            });


            collectionMarker.addListener('click', function() {
                collectionInfowindow.open(map, collectionMarker);
            });

        }  //mapinit function end
    </script>


        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQo09N5d4Tc0E76p4FtMcHB9xFMKrah98&callback=initMap">
            </script>


<% end %>
