<div id="signup-form-container">
  <div id="signup-form-image"><%= image_tag ('https://media.istockphoto.com/photos/make-a-difference-picture-id693322828?k=6&m=693322828&s=612x612&w=0&h=086mXqY6djCBm6IFxRlwa7hpYq3_6_WzmK0yZqAlBac='), alt: 'make a difference image' %></div>

    <div id="signup-main-content">
  </div>
      <h2 id="signup-header">Sign Up</h2>

          <div id="signup-form-details">
            <% if @user.errors.any? %>
            <p>Please correct the following errors:</p>
            <ul>
              <% @user.errors.full_messages.each do | error | %>
              <li><%= error %></li>
              <% end %>
            </ul>
            <% end %>

            <%= form_for @user do | f | %>

              <%= f.label :name %>
              <%= f.text_field :name %>
              <br>

              <%= f.label :email %>
              <%= f.email_field :email %>
              <br>

              <%= f.label :location %>
              <%= f.text_field :location %>
              <br>

              <%= f.label :password %>
              <%= f.password_field :password %>
              <br>

              <%= f.label :password_confirmation, 'Confirm Password' %>
              <%= f.password_field :password_confirmation %>

            <br>
          </div>

          <%= f.submit class: 'signup-submit-button'%>

          <% end %>

</div>
