<div id="welcome-header">
  <div id="welcome-header-text">
    <div id="welcome-message">
            <h1>Stronger Together!</h1>
            <h1>Make a Difference Today</h1>
            <!-- <h3>sign up now</h3> -->
            <div id="toggle-signup-button">

                <!-- <p>dropdown</p> -->
              <%=   button_tag 'Sign Up Now'%>

           </div>
             <div id="toggle-signup-form">

                  <!-- <p>form</p> -->
                  <%# render :partial => '/users/form' %>


      <div id="signup-form-homepage">
            <h2 id="signup-header-homepage">Sign Up</h2>

                  <%= form_for @user do | f | %>

                      <%= f.label :name %>
                      <%= f.text_field :name %>


                    <br>

                            <%= f.label :email %>
                            <%= f.email_field :email %>

                    <br>
                            <%= f.label :location %>
                            <%= f.text_field :location %>

                    <br>
                        <%= f.label :password %>
                        <%= f.password_field :password %>

                    <br>
                      <%= f.label :password_confirmation, 'Confirm Password' %>
                      <%= f.password_field :password_confirmation %>
                  <br>


                <%= f.submit class: 'signup-submit-button'%>

                <% end %>
              </div>
          </div> <!-- form toggle -->
      </div>
    </div>
</div>



<div id="big-image">
</div>

<!-- <hr> -->

<div id="shape-container">

    <div id="left-skew">

    </div>

    <div id="right-skew">

    </div>


</div>

<div id="logo">
  <div class="logo-image"></div>
</div>

<div id="homepage-cover">

<div id="content-container">

      <h2 class="drop-feed">Drop feed</h2>
      <hr>
    <div id="homepage-drop-feed">
        <p class="feed-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in. </p>

          <%=  render :partial => 'drops/feed', :collection => @drops.limit(3), :as => :drop %>

        <%= link_to 'Click to View all Drops', drops_path %>

      </div>
    </div>

</div>
