
  <li>
    <strong><%= item.product.name %> x<%= item.quantity %></strong>
    <br>

    <p>Donor Assigned:</p>

    <% if item.donor.present? %>
        <%= 'Yes' %>
    <% else %>
        <%= 'No' %>

      <%= form_for item do |f| %>

        <%= f.submit 'Donate' %>

      <% end %>

    <% end %>
  </li>
<br>
