<% if flash[:message].present? %>
  <p><%= flash[:message] %></p>
<% end %>


<!-- form for every product on 1 drop -->
<% Product.all.each do | pr | %>
  <ul>
    <li>

      <%= form_for @line_item_new, namespace: "#{drop_id}-#{pr.id}", :html => {:class => 'line-item-form'} do |f| %>

        <%= f.hidden_field :drop_id, :value => drop_id %>
        <%= f.hidden_field :product_id, :value => pr.id %>

        <strong><%= pr.name %></strong>
        <br>

          <%= radio_button_tag(:user, 'request', false, :id => "request-drop#{drop_id}-product#{pr.id}") %>
          <%= f.label("Request") %>
          <%= radio_button_tag(:user, "donate", false, :id => "donate-drop#{drop_id}-product#{pr.id}") %>
          <%= f.label("Donate") %>

          <% f.label :quantity %>
          <%= f.number_field :quantity%>
          <br>

        <%= f.submit 'Submit' %>

      <% end %>
    </li>
  </ul>
<% end %>
