<h4>TEST</h4>




  <li>
    <%= item.product.name %> x<%= item.quantity %>
  </li>
  <li>
    <strong>Donor Assigned:</strong>

    <% if item.donor.present? %>
        <%= 'Yes' %>
    <% else %>
        <%= 'No' %>

      <%= form_for item do |f| %>

        <%= radio_button_tag(:user, 'donate') %>
        <%= f.label("Donate") %>

        <%= f.hidden_field :quantity, :value => item.quantity %>
        <!--drop_id-->
        <%= f.hidden_field :drop_id, :value => drop_id %>
        <%= f.hidden_field :product_id, :value => item.product.id %>


        <%= f.submit 'Submit' %>

      <% end %>

    <% end %>

  </li>
