<h1>LineItems#new</h1>

<p>Find me in app/views/line_items/new.html.erb</p>

<% if flash[:message].present? %>
  <p><%= flash[:message] %></p>
<% end %>

<!-- form for every product but 1 drop -->

<% @products.each do | pr | %>

  <%= form_for @line_item do |f| %>

  <%= f.hidden_field :drop_id, :value => @drop.id %>
  <%= f.hidden_field :product_id, :value => pr.id %>

  <strong><%= pr.name %></strong>
  <br>

  <%= radio_button_tag(:user, 'request') %>
  <%= f.label("Request") %>
  <%= radio_button_tag(:user, 'donate') %>
  <%= f.label("Donate") %>

  <% f.label :quantity %>
  <%= f.number_field :quantity%>
  <br>
  <%= f.submit 'Submit' %>


  <% end %>

  <br>
  <br>

<% end %>
