<!DOCTYPE html>
<html lang="en">
  <head>
    <title>One</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta prefix="og: http://ogp.me/ns#" property="og:title" content="<%= meta_title %>" />
    <meta prefix="og: http://ogp.me/ns#" property="og:type" content="website" />
    <meta prefix="og: http://ogp.me/ns#" property="og:url" content="<%= request.original_url %>" />
    <meta prefix="og: http://ogp.me/ns#" property="og:image" content="<%= meta_image %>" />
    <meta prefix="og: http://ogp.me/ns#" property="og:description" content="<%= meta_description %>" />
    <meta prefix="og: http://ogp.me/ns#" property="og:site_name" content="<%= meta_title %>" />

    <%= favicon_link_tag asset_path('favicon.ico') %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>
  <body>
    <header>


  <nav>

    <div id="homepage-logo">
      <%= link_to(image_tag("one-with-tagline.png"), root_path) %>
    </div>


          <div id="dropdown-wrapper">
              <%= link_to 'Drops', drops_path %>

            <div id="dropdown-content">

                  <%= link_to 'Create Drop', new_drop_path%>

              </div>
          </div>
        <div id="requested-items">

          <%= link_to 'Requested Items', products_path %>

        </div>



    <div id="user-links">
                  <% if @current_user.present? %>

                      Welcome, <%= @current_user.name %> |
                      <%= link_to 'View Profile', user_path(@current_user.id)%> |
                      <%= link_to 'Logout', login_path, method: 'delete'%>

                  <% else %>

                      <%= link_to 'Login', login_path%>


                      <%= link_to 'Sign-up', new_user_path, method: 'get'%>

                  <% end %>

        </div>

 </nav>
</header>


    <% if controller_name == 'pages' && action_name == 'homepage' %>

      <%= yield %>

    <% else %>

      <div id="content-container">
          <%= yield %>
      </div>

    <% end %>


    <footer>
      <br>
      &copy; One 2020
    </footer>
    </div>
  </body>
</html>
